header {
    min-height: 500px;
    /* background-color: violet; */
    padding: 40px 165px 75px 165px;
    position: relative;
    overflow: hidden;

    .circle {
        position: absolute;
        top: -172px;
        right: -140px;
        z-index: -1;
    }

    .nav-div {
        display: flex;
        gap: 64px;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            gap: 40px;
        }

        .nav-btn {
            justify-self: end;
            margin-left: auto;
        }
    }

    .header-content {
        min-height: 200px;
        margin-top: 74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 95px;

        .header-content-left {
            min-width: 50px;
            

            .search {
                width: 445px;
                background-color: var(--Link-Water-White);
                display: flex;
                justify-content: space-between;
                padding-left: 27px;
                border-radius: 24px;
                margin-top: 21px;

                input {
                    border: 0;
                    background-color: var(--Link-Water-White);
                    outline: none;
                    width: 100%;
                }
            }

            p {
                padding-left: 27px;
                margin-top: 16px;

                
            }
        }

        .header-content-right {
            min-width: 50px;
            background-color: black;
            width: 263px;
            height: 500px;
            
        }
    }
}